---
 //sconst personalImageAlt = "Luis Donaldo"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
      Soy un desarrollador de software con más de 3 años de experiencia, especializado en el desarrollo web con tecnologías como 
      React.jsy su ecosistema. Me destaco por mi versatilidad, ya que he trabajado en el desarrollo de aplicaciones web 
      y móviles utilizando una amplia gama de lenguajes y frameworks, incluyendo Java, Rust, Python, PHP y Kotlin.
    </p>

    <p>
      Además de mis sólidas habilidades técnicas, me destaco por ser un excelente comunicador y trabajador en equipo. 
      He colaborado de manera efectiva con diseñadores, analistas y otros desarrolladores para entregar soluciones innovadoras 
      a los desafíos planteados por los clientes.
    </p>

    <p>
      Me apasiona el mundo del desarrollo de software y siempre estoy buscando oportunidades para ampliar mis conocimientos 
      y experimentar con nuevas tecnologías. Esta curiosidad y sed de aprendizaje constante me han permitido mantenerme actualizado 
      y aportar soluciones de vanguardia a los proyectos en los que he trabajado.
    </p>

    <p>
      En resumen, soy un desarrollador de software versátil, adaptable y con una fuerte motivación por seguir creciendo 
      y mejorando. Estoy emocionado por la oportunidad de poner mis habilidades al servicio de una nueva organización 
      y contribuir al éxito de sus proyectos.
    </p>

    <!-- <p>
      Como creador de contenido, <strong
        >cuento con el canal de habla hispana más visto del mundo en la
        categoría de <em class="italic">Software & Game Development</em> en Twitch</strong
      >. Mi objetivo es mejorar la empleabilidad de la comunidad hispana y el
      acceso a contenido de calidad.
    </p> -->
  </div>

  <!-- <img width="200" height="200" src="/me.png" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%"> -->

</article>

<!-- FRASES PROHIBIDAS EN VUESTRO PORTFOLIO

<p>
  Mi sueño es encontrar mi primer empleo en el mundo de la programación. Una empresa donde pueda seguir aprendiendo. ❌
</p>

<p>
  ❌ Apasionado de la programación desde chekitito. Me encantan los ordenadores y crear páginas web buenas y rápidas con la última tecnología.
</p>

<p>
  Trabajo bien en equipo. Siempre estoy aprendiendo cosas nuevas.
</p>

-------------------------------------

--------------------------------------

<p>
  ¡Soy Leo! Estudié Derecho Empresarial y, tras años ejerciendo, me pasé al mundo de la Programación. Desde entonces disfruto creando experiencias web para los usuarios.
</p>

<p>
  Entre mis éxitos destaco que durante el Grado Superior, ayudé a mis compañeros a aprender sobre TDD. Me encanta el testing, creo en su importancia, y me gusta compartir mi conocimiento sobre ello.
</p>

<p>
  Cuento con experiencia desarrollando aplicaciones móviles, y he creado una iniciativa llamada X para mezclar mis dos pasiones: la programación y el derecho. Ayudando a la sociedad a acceso a una defensa justa.
</p>

---------------------------------------

<p>Me llamo Sara, tengo 25 años y soy de Santiago, Chile 🇨🇱. Terminé mis estudios como Desarrolladora Web. Me encanta enfocarme en la parte del rendimiento, para ofrecer la mejora experiencia al usuario.</p>

<p>
  Colaboro en la organización del MeetUp local BeerJS donde reunimos a desarrolladores de Santiago para compartir conocimiento y experiencias. El año 2023 hicimos un total de 25 charlas con más de 2000 asistentes.
</p>

<p>
  Además de participar activamente en la comunidad, he participado en la Hackathon de dev quedando en 3er puesto con mi proyecto _Chatty_, donde usando IA podías interactuar con un PDF. ¡Échale un vistazo!
</p>

-->
