---
import ExperienceItem from "./ExperienceItem.astro";
const EXPERIENCE = [
  {
    date: "Actualmente...",
    title: "Fullstack Developer",
    company: "Marsbot",
    description:
      "Divulgo sobre programación y desarrollo web en diferentes plataformas. Galardonado como mejor creador de contenido de habla no-inglesa en 2022 y mejor comunidad en 2023 por GitHub.",
    // link: "https://twitch.tv/",
  },
  {
    date: "2024",
    title: "Contributor",
    company: "Cartero: Realiza solicitudes HTTP y prueba APIs",
    description: `
    Contribuidor a un proyecto de código abierto para desarrollar un clon de Postman escrito en Rust, utilizando las bibliotecas GTK4 y libadwaita.
    Mis principales aportes fueron: mejora en la legibilidad de respuestas json, mejora en la interfaz de usuario y optimizacion del rendimiento
    `,
  },
  {
    date: "Ago-Dic 2024",
    title: "Fullstack Developer",
    company: "Urion Studio",
    description: `
      Desarrollador de software con el uso de tecnologías modernas como SvelteKit, Shadcn, Firebase, Supabase y OAuth2. 
      Habilidades sólidas en el desarrollo de aplicaciones web interactivas y escalables, utilizando metodologías ágiles con ClickUp y control de versiones con Git. 
    `,
  },
  {
    date: "2024",
    title: "Contributor",
    company: "Open Compose",
    description: `
    Contribuidor a un proyecto de código abierto que desarrolla una biblioteca de componentes de Material Design 2 y 3 para android conJetpack Compose
    `,
  },
  {
    date: "2021",
    title: "Java Developer",
    company: "UPAA S.A.",
    description: `
      Encargado del proyecto de desarrollo de un sistema integral para la gestión de clientes, pagos y estadísticas financieras. 
      Este proyecto me permitió demostrar habilidades en elicitación de requisitos, diseño de UI/UX, arquitectura de bases de datos y desarrollo de aplicaciones web escalables.
    `,
  },
];
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
