---
//import GitHub from "./icons/GitHub.astro"
import NextJS from "./icons/NextJS.astro"
import Tailwind from "./icons/Tailwind.astro"
import Link from "./icons/Link.astro"
import LinkButton from "./LinkButton.astro"
import MUI from "./icons/MUI.astro"
import Firebase from "./icons/Firebase.astro"
import Strapi from "./icons/Strapi.astro"

const TAGS = {
  NEXT: {
    name: "Next.js",
    class: "bg-black text-white",
    icon: NextJS,
  },
  TAILWIND: {
    name: "Tailwind CSS",
    class: "bg-[#003159] text-white",
    icon: Tailwind,
  },
  SHADCN:{
    name:"Shadcn UI",
    class:"bg-black text-white",
    icon: NextJS
  },
  SVELTE:{
    name:"Sveltekit",
    class:"bg-black text-white",
    icon: NextJS
  },
  MUI:{
    name:"Material UI",
    class:"bg-black text-blue-500",
    icon: MUI
  },
  FIREBASE:{
    name:"Firebase",
    class:"bg-black text-yellow-500",
    icon: Firebase
  },
  SUPABASE:{
    name:"Supabase",
    class:"bg-black text-white",
    icon: NextJS
  },
  STRAPI:{
    name:"Strapi",
    class:"bg-black text-white",
    icon: Strapi
  }
}
const PROJECTS = [
  {
    title: "Allfresco -  Compra tu mercado online",
    description:
      "Descubre una gran variedad de frutas y verduras que tenemos para ti. ¡Ahorra tiempo y dinero, pide tu supermercado en AllFresco Delivery! ",
    link: "https://allfresco.store/",
    // github: "https://github.com/pheralb/svgl",
    image: "/projects/allfresco.webp",
    tags: [TAGS.NEXT, TAGS.MUI, TAGS.FIREBASE],
  },
  {
    title: "Un nuevo espacio - Encuentra tu espacio ideal",
    description:
      "Explora una amplia variedad de opciones, desde oficinas privadas hasta espacios de coworking compartidos, en las mejores ubicaciones de la ciudad. Compara características, precios y disponibilidad para elegir la opción que mejor se ajuste a tu empresa.",
    link: "https://unnuevoespacio.vercel.app/",
    image: "/projects/une.webp",
    tags: [TAGS.NEXT, TAGS.MUI, TAGS.STRAPI],
  },
]
---

<div class="flex flex-col gap-y-16">
  {
    PROJECTS.map(({ image, title, description, tags, link, 
    //  github
     }) => (
    <article class="flex flex-col space-x-0 space-y-8 group md:flex-row md:space-x-8 md:space-y-0">
  <div class="w-full md:w-1/2">
    <div class="relative flex flex-col items-center col-span-6 row-span-5 gap-8 transition duration-500 ease-in-out transform shadow-xl overflow-clip rounded-xl sm:rounded-xl md:group-hover:-translate-y-1 md:group-hover:shadow-2xl lg:border lg:border-gray-800 lg:hover:border-gray-700 lg:hover:bg-gray-800/50">
      <img alt="Recién llegado vs 5 años en Nueva Zelanda" class="object-cover object-top w-full h-56 transition duration-500 sm:h-full md:scale-110 md:group-hover:scale-105" loading="lazy" src={image} />
    </div>
  </div>

  <div class="w-full md:w-1/2 md:max-w-lg">
    <h3 class="text-2xl font-bold text-gray-800 dark:text-gray-100">
      {title}
    </h3>
    <div class="flex flex-wrap mt-2">
      <ul class="flex flex-row mb-2 gap-x-2">
          {tags.map((tag) => (
            <li>
              <span
                class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 `}
              >
                <tag.icon class="size-4" />
                {tag.name}
              </span>
            </li>
          ))}
        </ul>

      <div class="mt-2 text-gray-700 dark:text-gray-400">{description}</div>
      <footer class="flex items-end justify-start mt-4 gap-x-4">
          {/* } github && (
            <LinkButton href={github}>
              <GitHub class="size-6" />
              Code
              
            </LinkButton>
          ) */}
          {link && (
            <LinkButton href={link}>
              <Link class="size-4" />
              Preview
            </LinkButton>
          )}
        </footer>
    </div>
  </div>
</article>
    ))
  }
</div>



