<svg
    xmlns="http://www.w3.org/2000/svg"
    width="98"
    height="24"
    viewBox="0 0 512 125"
    ><path
        fill="#212067"
        d="M493.858 18.204q3.146 3.157 7.431 3.157q4.419 0 7.565-3.157T512 10.748t-3.146-7.524T501.289 0q-4.286 0-7.431 3.224q-3.147 3.225-3.147 7.524t3.147 7.456M267.98 45.684c0 .22-.178.399-.398.399H252.85v27.944q0 3.493 1.741 5.105q1.74 1.613 5.088 1.814q2.9.174 7.009-.004l.671-.031l.202-.01a.4.4 0 0 1 .42.398V96.24a.4.4 0 0 1-.355.395l-.27.03q-17.311 1.851-24.48-3.427q-7.299-5.374-7.298-19.212V46.083h-11.25a.4.4 0 0 1-.398-.399V29.822c0-.22.178-.398.398-.398h11.25V18.328a.8.8 0 0 1 .475-.729l16.238-7.17a.398.398 0 0 1 .56.364v18.63h14.73c.22 0 .4.18.4.4zm31.32-4.707q2.41-6.45 7.966-9.673q5.086-2.95 11.236-3.201l.278-.01l.469-.008a.397.397 0 0 1 .403.397v18.23c0 .38-.331.673-.71.639q-7.47-.679-13.416 3.299q-6.226 4.165-6.226 13.837v31.71a.4.4 0 0 1-.399.4h-16.475a.4.4 0 0 1-.398-.4V29.822c0-.22.178-.398.398-.398h16.475c.22 0 .399.178.399.398zm59.447-13.436q14.058 0 21.824 9.807V29.82c0-.22.179-.398.399-.398h16.475c.22 0 .398.178.398.398v66.377c0 .22-.178.398-.398.398H380.97a.4.4 0 0 1-.399-.398v-7.528q-7.766 9.807-21.824 9.807q-13.39 0-22.963-10.277q-9.573-10.278-9.573-25.19t9.573-25.19t22.963-10.278m3.212 16.525q-8.034 0-13.256 5.307t-5.222 13.636t5.222 13.703q5.223 5.24 13.256 5.24t13.322-5.306t5.289-13.637t-5.29-13.636q-5.287-5.307-13.321-5.307m87.806-16.525q13.523 0 23.097 10.277q9.573 10.278 9.573 25.19t-9.573 25.19q-9.574 10.278-23.097 10.278q-14.059 0-21.69-9.807v34.397a.4.4 0 0 1-.399.399h-16.475a.4.4 0 0 1-.399-.399V29.82c0-.22.179-.398.399-.398h16.475c.22 0 .399.178.399.398v7.528q7.631-9.807 21.69-9.807m-3.215 16.525q-8.033 0-13.255 5.307t-5.222 13.636t5.222 13.703q5.222 5.24 13.255 5.24t13.323-5.306q5.288-5.306 5.288-13.637t-5.288-13.636q-5.289-5.307-13.323-5.307m46.57 52.53a.4.4 0 0 1-.399-.398V29.822a.4.4 0 0 1 .399-.399h16.475a.4.4 0 0 1 .399.399v66.376a.4.4 0 0 1-.399.399zm-308.31-43.73q-3.548-1.68-3.548-4.367q0-2.553 2.209-4.03t5.556-1.478q6.42 0 9.698 5.02c.152.234.45.329.704.216l14.573-6.47a.396.396 0 0 0 .181-.563l-.302-.507c-.077-.126-.15-.246-.21-.34c-2.499-3.94-5.73-6.876-9.781-9.112q-6.695-3.694-14.863-3.694q-10.845 0-18.142 5.71q-7.297 5.709-7.297 15.651q0 6.583 3.548 10.95q3.549 4.365 8.636 6.38a91 91 0 0 0 9.393 3.149l.783.21q5.088 1.344 8.636 3.023t3.548 4.366q0 5.778-9.238 5.778q-8.794 0-12.189-6.522a.794.794 0 0 0-1.024-.374l-14.531 6.46a.397.397 0 0 0-.197.536l.166.34q7.617 15.278 27.775 15.278q11.514 0 19.213-5.576q7.7-5.574 7.7-15.92q0-6.85-3.55-11.42q-3.547-4.566-8.635-6.515a89 89 0 0 0-9.393-3.024l-.783-.2q-5.088-1.276-8.636-2.956"
    ></path><path
        fill="#4945ff"
        d="M0 43.004C0 22.732 0 12.596 6.298 6.298S22.732 0 43.004 0h38.042c20.272 0 30.408 0 36.706 6.298s6.298 16.434 6.298 36.706v38.042c0 20.272 0 30.408-6.298 36.706s-16.434 6.298-36.706 6.298H43.004c-20.272 0-30.408 0-36.706-6.298S0 101.318 0 81.046z"
    ></path><path
        fill="#fff"
        d="M85.594 37.628H43.831v21.296h21.295v21.295h21.295V38.455a.827.827 0 0 0-.827-.827"
    ></path><path fill="#fff" d="M64.299 58.924h1v1h-1z"></path><path
        fill="#9593ff"
        d="M43.83 58.924H64.3c.457 0 .827.37.827.826v20.47H44.658a.827.827 0 0 1-.827-.827z"
    ></path><path
        fill="#9593ff"
        d="M65.126 80.219h21.295l-20.59 20.589a.413.413 0 0 1-.705-.292zM43.83 58.924H23.535a.414.414 0 0 1-.293-.706l20.59-20.59z"
    ></path></svg
>
